/*
 * http://meyerweb.com/eric/tools/css/reset/   v2.0 | 20110126  License: none (public domain)
 */
html, body, .unal-chrome div:not(.akopia-content, .akopia-content *), .unal-chrome span:not(.akopia-content, .akopia-content *), .unal-chrome applet:not(.akopia-content, .akopia-content *), .unal-chrome object:not(.akopia-content, .akopia-content *), .unal-chrome iframe:not(.akopia-content, .akopia-content *), .unal-chrome h1:not(.akopia-content, .akopia-content *), .unal-chrome h2:not(.akopia-content, .akopia-content *), .unal-chrome h3:not(.akopia-content, .akopia-content *), .unal-chrome h4:not(.akopia-content, .akopia-content *), .unal-chrome h5:not(.akopia-content, .akopia-content *), .unal-chrome h6:not(.akopia-content, .akopia-content *), .unal-chrome p:not(.akopia-content, .akopia-content *), .unal-chrome blockquote:not(.akopia-content, .akopia-content *), .unal-chrome pre:not(.akopia-content, .akopia-content *), .unal-chrome a:not(.akopia-content, .akopia-content *), .unal-chrome abbr:not(.akopia-content, .akopia-content *), .unal-chrome acronym:not(.akopia-content, .akopia-content *), .unal-chrome address:not(.akopia-content, .akopia-content *), .unal-chrome big:not(.akopia-content, .akopia-content *), .unal-chrome cite:not(.akopia-content, .akopia-content *), .unal-chrome code:not(.akopia-content, .akopia-content *), .unal-chrome del:not(.akopia-content, .akopia-content *), .unal-chrome dfn:not(.akopia-content, .akopia-content *), .unal-chrome em:not(.akopia-content, .akopia-content *), .unal-chrome img:not(.akopia-content, .akopia-content *), .unal-chrome ins:not(.akopia-content, .akopia-content *), .unal-chrome kbd:not(.akopia-content, .akopia-content *), .unal-chrome q:not(.akopia-content, .akopia-content *), .unal-chrome s:not(.akopia-content, .akopia-content *), .unal-chrome samp:not(.akopia-content, .akopia-content *), .unal-chrome small:not(.akopia-content, .akopia-content *), .unal-chrome strike:not(.akopia-content, .akopia-content *), .unal-chrome strong:not(.akopia-content, .akopia-content *), .unal-chrome sub:not(.akopia-content, .akopia-content *), .unal-chrome sup:not(.akopia-content, .akopia-content *), .unal-chrome tt:not(.akopia-content, .akopia-content *), .unal-chrome var:not(.akopia-content, .akopia-content *), .unal-chrome b:not(.akopia-content, .akopia-content *), .unal-chrome u:not(.akopia-content, .akopia-content *), .unal-chrome i:not(.akopia-content, .akopia-content *), .unal-chrome center:not(.akopia-content, .akopia-content *), .unal-chrome dl:not(.akopia-content, .akopia-content *), .unal-chrome dt:not(.akopia-content, .akopia-content *), .unal-chrome dd:not(.akopia-content, .akopia-content *), .unal-chrome ol:not(.akopia-content, .akopia-content *), .unal-chrome ul:not(.akopia-content, .akopia-content *), .unal-chrome li:not(.akopia-content, .akopia-content *), .unal-chrome fieldset:not(.akopia-content, .akopia-content *), .unal-chrome form:not(.akopia-content, .akopia-content *), .unal-chrome label:not(.akopia-content, .akopia-content *), .unal-chrome legend:not(.akopia-content, .akopia-content *), .unal-chrome table:not(.akopia-content, .akopia-content *), .unal-chrome caption:not(.akopia-content, .akopia-content *), .unal-chrome tbody:not(.akopia-content, .akopia-content *), .unal-chrome tfoot:not(.akopia-content, .akopia-content *), .unal-chrome thead:not(.akopia-content, .akopia-content *), .unal-chrome tr:not(.akopia-content, .akopia-content *), .unal-chrome th:not(.akopia-content, .akopia-content *), .unal-chrome td:not(.akopia-content, .akopia-content *), .unal-chrome article:not(.akopia-content, .akopia-content *), .unal-chrome aside:not(.akopia-content, .akopia-content *), .unal-chrome canvas:not(.akopia-content, .akopia-content *), .unal-chrome details:not(.akopia-content, .akopia-content *), .unal-chrome embed:not(.akopia-content, .akopia-content *), .unal-chrome figure:not(.akopia-content, .akopia-content *), .unal-chrome figcaption:not(.akopia-content, .akopia-content *), .unal-chrome footer:not(.akopia-content, .akopia-content *), .unal-chrome header:not(.akopia-content, .akopia-content *), .unal-chrome hgroup:not(.akopia-content, .akopia-content *), .unal-chrome menu:not(.akopia-content, .akopia-content *), .unal-chrome nav:not(.akopia-content, .akopia-content *), .unal-chrome output:not(.akopia-content, .akopia-content *), .unal-chrome ruby:not(.akopia-content, .akopia-content *), .unal-chrome section:not(.akopia-content, .akopia-content *), .unal-chrome summary:not(.akopia-content, .akopia-content *), .unal-chrome time:not(.akopia-content, .akopia-content *), .unal-chrome mark:not(.akopia-content, .akopia-content *), .unal-chrome audio:not(.akopia-content, .akopia-content *), .unal-chrome video:not(.akopia-content, .akopia-content *) {
  margin: 0;
  padding: 0;
  border: 0;
  vertical-align: baseline;
  outline: 0;
}


/*
 * HTML5 display-role reset for older browsers
 */
.unal-chrome article:not(.akopia-content, .akopia-content *), .unal-chrome aside:not(.akopia-content, .akopia-content *), .unal-chrome details:not(.akopia-content, .akopia-content *), .unal-chrome figcaption:not(.akopia-content, .akopia-content *), .unal-chrome figure:not(.akopia-content, .akopia-content *), .unal-chrome footer:not(.akopia-content, .akopia-content *), .unal-chrome header:not(.akopia-content, .akopia-content *), .unal-chrome hgroup:not(.akopia-content, .akopia-content *), .unal-chrome menu:not(.akopia-content, .akopia-content *), .unal-chrome nav:not(.akopia-content, .akopia-content *), .unal-chrome section:not(.akopia-content, .akopia-content *) {
  display: block;
}


body, html {
  line-height: 1.125em;
  font-size: 14px;
}


.unal-chrome ol:not(.akopia-content, .akopia-content *), .unal-chrome ul:not(.akopia-content, .akopia-content *) {
  list-style: none;
}


.unal-chrome blockquote:not(.akopia-content, .akopia-content *), .unal-chrome q:not(.akopia-content, .akopia-content *) {
  quotes: none;
}


.unal-chrome blockquote:before:not(.akopia-content, .akopia-content *), .unal-chrome blockquote:after:not(.akopia-content, .akopia-content *), .unal-chrome q:before:not(.akopia-content, .akopia-content *), .unal-chrome q:after:not(.akopia-content, .akopia-content *) {
  content: '';
  content: none;
}


.unal-chrome table:not(.akopia-content, .akopia-content *) {
  border-collapse: collapse;
  border-spacing: 0;
}


/*
 * YUI 3.18.1 (build f7e7bcb) Copyright 2014 Yahoo! Inc. All rights reserved. Licensed under the BSD License. http://yuilibrary.com/license/
 */
html {
  color: black;
  background: white;
}


.unal-chrome input:not(.akopia-content, .akopia-content *), .unal-chrome textarea:not(.akopia-content, .akopia-content *) {
  margin: 0;
  padding: 0;
}


.unal-chrome img:not(.akopia-content, .akopia-content *), .unal-chrome legend:not(.akopia-content, .akopia-content *) {
  border: 0;
}


.unal-chrome address:not(.akopia-content, .akopia-content *), .unal-chrome caption:not(.akopia-content, .akopia-content *), .unal-chrome cite:not(.akopia-content, .akopia-content *), .unal-chrome code:not(.akopia-content, .akopia-content *), .unal-chrome dfn:not(.akopia-content, .akopia-content *), .unal-chrome em:not(.akopia-content, .akopia-content *), .unal-chrome strong:not(.akopia-content, .akopia-content *), .unal-chrome th:not(.akopia-content, .akopia-content *), .unal-chrome var:not(.akopia-content, .akopia-content *) {
  font-style: normal;
}


.unal-chrome h1:not(.akopia-content, .akopia-content *), .unal-chrome h2:not(.akopia-content, .akopia-content *), .unal-chrome h3:not(.akopia-content, .akopia-content *), .unal-chrome h4:not(.akopia-content, .akopia-content *), .unal-chrome h5:not(.akopia-content, .akopia-content *), .unal-chrome h6:not(.akopia-content, .akopia-content *) {
  font-weight: normal;
}


.unal-chrome input:not(.akopia-content, .akopia-content *), .unal-chrome textarea:not(.akopia-content, .akopia-content *), .unal-chrome select:not(.akopia-content, .akopia-content *) {
  font-family: inherit;
  font-size: inherit;
  font-weight: inherit;
  *font-size: 100%;
  vertical-align: middle;
}


.unal-chrome legend:not(.akopia-content, .akopia-content *) {
  color: black;
}


/*
 * html5doctor.com Reset Stylesheet v1.6.1 Last Updated: 2010-09-17 Author: Richard Clark - http://richclarkdesign.com Twitter: @rich_clark
 */
.unal-chrome ins:not(.akopia-content, .akopia-content *) {
  background-color: #ffff99;
  color: black;
  text-decoration: none;
}


.unal-chrome mark:not(.akopia-content, .akopia-content *) {
  background-color: #ffff99;
  color: black;
  font-style: italic;
  font-weight: bold;
}


.unal-chrome del:not(.akopia-content, .akopia-content *) {
  text-decoration: line-through;
}


.unal-chrome abbr[title]:not(.akopia-content, .akopia-content *), .unal-chrome dfn[title]:not(.akopia-content, .akopia-content *) {
  border-bottom: 1px dotted;
  cursor: help;
}


.unal-chrome table:not(.akopia-content, .akopia-content *) {
  border-collapse: collapse;
  border-spacing: 0;
}


.unal-chrome hr:not(.akopia-content, .akopia-content *) {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #333333;
  margin: 1em 0;
  padding: 0;
}


/*
 * ! normalize.css v3.0.2 | MIT License | git.io/normalize
 */
.unal-chrome audio:not(.akopia-content, .akopia-content *), .unal-chrome canvas:not(.akopia-content, .akopia-content *), .unal-chrome progress:not(.akopia-content, .akopia-content *), .unal-chrome video:not(.akopia-content, .akopia-content *) {
  display: inline-block;
  vertical-align: baseline;
}


.unal-chrome audio:not([controls]):not(.akopia-content, .akopia-content *) {
  display: none;
  height: 0;
}


.unal-chrome [hidden]:not(.akopia-content, .akopia-content *), .unal-chrome template:not(.akopia-content, .akopia-content *) {
  display: none;
}


.unal-chrome a:active:not(.akopia-content, .akopia-content *), .unal-chrome a:hover:not(.akopia-content, .akopia-content *) {
  outline: 0;
}


.unal-chrome abbr[title]:not(.akopia-content, .akopia-content *) {
  border-bottom: 1px dotted;
}


.unal-chrome svg:not(:root):not(.akopia-content, .akopia-content *) {
  overflow: hidden;
}


.unal-chrome pre:not(.akopia-content, .akopia-content *) {
  overflow: auto;
}


.unal-chrome code:not(.akopia-content, .akopia-content *), .unal-chrome kbd:not(.akopia-content, .akopia-content *), .unal-chrome pre:not(.akopia-content, .akopia-content *), .unal-chrome samp:not(.akopia-content, .akopia-content *) {
  font-family: monospace, monospace;
  font-size: 1em;
}


.unal-chrome button:not(.akopia-content, .akopia-content *), .unal-chrome input:not(.akopia-content, .akopia-content *), .unal-chrome optgroup:not(.akopia-content, .akopia-content *), .unal-chrome select:not(.akopia-content, .akopia-content *), .unal-chrome textarea:not(.akopia-content, .akopia-content *) {
  color: inherit;
}


.unal-chrome button:not(.akopia-content, .akopia-content *), html input[type="button"], .unal-chrome input[type="reset"]:not(.akopia-content, .akopia-content *), .unal-chrome input[type="submit"]:not(.akopia-content, .akopia-content *) {
  -webkit-appearance: button;
  cursor: pointer;
}


.unal-chrome button[disabled]:not(.akopia-content, .akopia-content *), html input[disabled] {
  cursor: default;
}


.unal-chrome button:not(.akopia-content, .akopia-content *)::-moz-focus-inner, .unal-chrome input:not(.akopia-content, .akopia-content *)::-moz-focus-inner {
  border: 0;
  padding: 0;
}


.unal-chrome input[type="checkbox"]:not(.akopia-content, .akopia-content *), .unal-chrome input[type="radio"]:not(.akopia-content, .akopia-content *) {
  box-sizing: border-box;
  padding: 0;
}


.unal-chrome input[type="number"]:not(.akopia-content, .akopia-content *)::-webkit-inner-spin-button, .unal-chrome input[type="number"]:not(.akopia-content, .akopia-content *)::-webkit-outer-spin-button {
  height: auto;
}


.unal-chrome input[type="search"]:not(.akopia-content, .akopia-content *) {
  -webkit-appearance: textfield;
  -moz-box-sizing: content-box;
  webkit-box-sizing: content-box;
  box-sizing: content-box;
}


.unal-chrome input[type="search"]:not(.akopia-content, .akopia-content *)::-webkit-search-cancel-button, .unal-chrome input[type="search"]:not(.akopia-content, .akopia-content *)::-webkit-search-decoration {
  -webkit-appearance: none;
}


.unal-chrome fieldset:not(.akopia-content, .akopia-content *) {
  border: 1px solid silver;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em;
}


