@layer unal-template {

.unal-chrome article, .unal-chrome aside, .unal-chrome details, .unal-chrome figcaption, .unal-chrome figure, .unal-chrome footer, .unal-chrome header, .unal-chrome hgroup, .unal-chrome menu, .unal-chrome nav, .unal-chrome section {
  display: block;
}


.unal-chrome ol, .unal-chrome ul {
  list-style: none;
}


.unal-chrome blockquote, .unal-chrome q {
  quotes: none;
}


.unal-chrome blockquote:before, .unal-chrome blockquote:after, .unal-chrome q:before, .unal-chrome q:after {
  content: '';
  content: none;
}


.unal-chrome table {
  border-collapse: collapse;
  border-spacing: 0;
}


.unal-chrome input, .unal-chrome textarea {
  margin: 0;
  padding: 0;
}


.unal-chrome img, .unal-chrome legend {
  border: 0;
}


.unal-chrome address, .unal-chrome caption, .unal-chrome cite, .unal-chrome code, .unal-chrome dfn, .unal-chrome em, .unal-chrome strong, .unal-chrome th, .unal-chrome var {
  font-style: normal;
}


.unal-chrome h1, .unal-chrome h2, .unal-chrome h3, .unal-chrome h4, .unal-chrome h5, .unal-chrome h6 {
  font-weight: normal;
}


.unal-chrome input, .unal-chrome textarea, .unal-chrome select {
  font-family: inherit;
  font-size: inherit;
  font-weight: inherit;
  *font-size: 100%;
  vertical-align: middle;
}


.unal-chrome legend {
  color: black;
}
.unal-chrome ins {
  background-color: #ffff99;
  color: black;
  text-decoration: none;
}


.unal-chrome mark {
  background-color: #ffff99;
  color: black;
  font-style: italic;
  font-weight: bold;
}


.unal-chrome del {
  text-decoration: line-through;
}


.unal-chrome table {
  border-collapse: collapse;
  border-spacing: 0;
}


.unal-chrome hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #333333;
  margin: 1em 0;
  padding: 0;
}
.unal-chrome audio, .unal-chrome canvas, .unal-chrome progress, .unal-chrome video {
  display: inline-block;
  vertical-align: baseline;
}


.unal-chrome audio:not([controls]) {
  display: none;
  height: 0;
}


.unal-chrome a:active, .unal-chrome a:hover {
  outline: 0;
}


.unal-chrome svg:not(:root) {
  overflow: hidden;
}


.unal-chrome pre {
  overflow: auto;
}


.unal-chrome code, .unal-chrome kbd, .unal-chrome pre, .unal-chrome samp {
  font-family: monospace, monospace;
  font-size: 1em;
}


.unal-chrome button, .unal-chrome input, .unal-chrome optgroup, .unal-chrome select, .unal-chrome textarea {
  color: inherit;
}


.unal-chrome button::-moz-focus-inner, .unal-chrome input::-moz-focus-inner {
  border: 0;
  padding: 0;
}


.unal-chrome fieldset {
  border: 1px solid silver;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em;
}
}

/*
 * http://meyerweb.com/eric/tools/css/reset/   v2.0 | 20110126  License: none (public domain)
 */
html, body, .unal-chrome div, .unal-chrome span, .unal-chrome applet, .unal-chrome object, .unal-chrome iframe, .unal-chrome h1, .unal-chrome h2, .unal-chrome h3, .unal-chrome h4, .unal-chrome h5, .unal-chrome h6, .unal-chrome p, .unal-chrome blockquote, .unal-chrome pre, .unal-chrome a, .unal-chrome abbr, .unal-chrome acronym, .unal-chrome address, .unal-chrome big, .unal-chrome cite, .unal-chrome code, .unal-chrome del, .unal-chrome dfn, .unal-chrome em, .unal-chrome img, .unal-chrome ins, .unal-chrome kbd, .unal-chrome q, .unal-chrome s, .unal-chrome samp, .unal-chrome small, .unal-chrome strike, .unal-chrome strong, .unal-chrome sub, .unal-chrome sup, .unal-chrome tt, .unal-chrome var, .unal-chrome b, .unal-chrome u, .unal-chrome i, .unal-chrome center, .unal-chrome dl, .unal-chrome dt, .unal-chrome dd, .unal-chrome ol, .unal-chrome ul, .unal-chrome li, .unal-chrome fieldset, .unal-chrome form, .unal-chrome label, .unal-chrome legend, .unal-chrome table, .unal-chrome caption, .unal-chrome tbody, .unal-chrome tfoot, .unal-chrome thead, .unal-chrome tr, .unal-chrome th, .unal-chrome td, .unal-chrome article, .unal-chrome aside, .unal-chrome canvas, .unal-chrome details, .unal-chrome embed, .unal-chrome figure, .unal-chrome figcaption, .unal-chrome footer, .unal-chrome header, .unal-chrome hgroup, .unal-chrome menu, .unal-chrome nav, .unal-chrome output, .unal-chrome ruby, .unal-chrome section, .unal-chrome summary, .unal-chrome time, .unal-chrome mark, .unal-chrome audio, .unal-chrome video {
  margin: 0;
  padding: 0;
  border: 0;
  vertical-align: baseline;
  outline: 0;
}


/*
 * HTML5 display-role reset for older browsers
 */


body, html {
  line-height: 1.125em;
  font-size: 14px;
}


/*
 * YUI 3.18.1 (build f7e7bcb) Copyright 2014 Yahoo! Inc. All rights reserved. Licensed under the BSD License. http://yuilibrary.com/license/
 */
html {
  color: black;
  background: white;
}


/*
 * html5doctor.com Reset Stylesheet v1.6.1 Last Updated: 2010-09-17 Author: Richard Clark - http://richclarkdesign.com Twitter: @rich_clark
 */


.unal-chrome abbr[title], .unal-chrome dfn[title] {
  border-bottom: 1px dotted;
  cursor: help;
}


/*
 * ! normalize.css v3.0.2 | MIT License | git.io/normalize
 */


.unal-chrome [hidden], .unal-chrome template {
  display: none;
}


.unal-chrome abbr[title] {
  border-bottom: 1px dotted;
}


.unal-chrome button, html input[type="button"], .unal-chrome input[type="reset"], .unal-chrome input[type="submit"] {
  -webkit-appearance: button;
  cursor: pointer;
}


.unal-chrome button[disabled], html input[disabled] {
  cursor: default;
}


.unal-chrome input[type="checkbox"], .unal-chrome input[type="radio"] {
  box-sizing: border-box;
  padding: 0;
}


.unal-chrome input[type="number"]::-webkit-inner-spin-button, .unal-chrome input[type="number"]::-webkit-outer-spin-button {
  height: auto;
}


.unal-chrome input[type="search"] {
  -webkit-appearance: textfield;
  -moz-box-sizing: content-box;
  webkit-box-sizing: content-box;
  box-sizing: content-box;
}


.unal-chrome input[type="search"]::-webkit-search-cancel-button, .unal-chrome input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}
